<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.6/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         cacheResultFile=".phpunit.cache/test-results"
         executionOrder="depends,defects"
         forceCoversAnnotation="false"
         beStrictAboutCoversAnnotation="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTodoAnnotatedTests="true"
         convertDeprecationsToExceptions="true"
         failOnRisky="true"
         failOnWarning="true"
         verbose="true">
    <testsuites>
        <testsuite name="ch03">
            <directory>test/ch03</directory>
        </testsuite>
        <testsuite name="ch04">
            <directory>test/ch04</directory>
        </testsuite>
        <testsuite name="ch05">
            <directory>test/ch05</directory>
        </testsuite>
        <testsuite name="ch06">
            <directory>test/ch06</directory>
        </testsuite>
        <testsuite name="ch08">
            <directory>test/ch08</directory>
        </testsuite>
        <testsuite name="ch09">
            <directory>test/ch09</directory>
        </testsuite>
        <testsuite name="ch10">
            <directory>test/ch10</directory>
        </testsuite>
        <testsuite name="ch11">
            <directory>test/ch11</directory>
        </testsuite>
    </testsuites>

    <coverage cacheDirectory=".phpunit.cache/code-coverage"
              processUncoveredFiles="true">
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </coverage>
</phpunit>
